body {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: #333;
  cursor: default;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
  outline: 0;
  padding: 0;
}

button::-moz-focus-inner {
  border: 0;
}

.root {
  height: 100%;
  overflow: hidden;
}

.root.hide {
  display: none;
}

.root.disabled {
  pointer-events: none;
}

.content {
  bottom: 0;
  height: calc(13rem + 2px);
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: calc(8rem + 2px);
}

.board {
  border: 1px solid #333;
  box-sizing: border-box;
  height: calc(8rem + 2px);
  position: relative;
}

.board-tile {
  background-color: khaki;
  height: 8rem;
  position: absolute;
  width: 8rem;
}