.controller {
  border: 2px solid #333;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  height: 2.25rem;
  margin: 0.125rem auto;
}

.controller.reverse {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.controller[data-color='white'] {
  background-color: white;
}

.controller[data-color='black'] {
  background-color: #333;
}

.controller-indicator {
  background-color: orange;
  border-right: 1px solid #333;
  box-sizing: border-box;
  margin-right: 3%;
  width: 4%;
}

.controller.disabled {
  pointer-events: none;
}

.controller.disabled > .controller-indicator {
  background-color: white;
}

.controller-button-container {
  position: relative;
  width: 21%;
}

.controller-button-container > button {
  background-color: white;
  border: 1px solid #333;
  color: inherit;
  font-family: inherit;
  height: 0.5625rem;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 88%;
}

.controller-button-container > button:active {
  background-color: orange;
}

.controller-button-container > button[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

.controller-button-ok {
  font-size: 0.3125rem;
  top: 0.375rem;
}

.controller-button-back {
  bottom: 0.375rem;
  font-size: 0.2875rem;
}

.controller-slot-container {
  position: relative;
  width: 50%;
}

.controller-slot-wrapper {
  background-color: khaki;
  border: 1px solid #333;
  bottom: 0;
  display: -webkit-flex;
  display: flex;
  height: 1.125rem;
  left: 0;
  margin: auto;
  padding: 0.0625rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 3.375rem;
}

.controller-slot-wrapper > div {
  height: 1rem;
  margin: 0.0625rem;
  width: 1rem;
}

.controller-slot-wrapper .panel {
  pointer-events: none;
}

.controller-score-container {
  position: relative;
  width: 22%;
}

.controller-score-container > div {
  font-size: 0.3125rem;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  white-space: nowrap;
  width: 88%;
}

.controller-score-erase {
  top: 0.4375rem;
}

.controller-score-chain {
  top: 0.875rem;
}

.controller-score-fix {
  top: 1.3125rem;
}

.controller-score-circle {
  border: 1px solid #333;
  border-radius: 50%;
  display: inline-block;
  height: 0.3125rem;
  margin: 0 0.0625rem;
  vertical-align: middle;
  width: 0.3125rem;
}

.controller-score-erase > .controller-score-circle {
  background-color: red;
}

.controller-score-chain > .controller-score-circle {
  background-color: yellow;
}

.controller-score-fix > .controller-score-circle {
  background-color: lime;
}

.controller-score-container span {
  margin: 0 0.0875rem;
}

.controller[data-color='black'] .controller-score-container span {
  color: white;
}