.score-animation .circle.animation {
  -webkit-animation: fadeout 1s;
  -o-animation: fadeout 1s;
  animation: fadeout 1s;
  opacity: 0;
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-moz-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-ms-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-o-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.score-animation .red {
  fill: red;
}

.score-animation .yellow {
  fill: yellow;
}

.score-animation .green {
  fill: lime;
}